* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.canvas {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #557174;
    width: 100vw;
    height: 100vh;
}

.circle {
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 80vmin;
    height: 80vmin;
    border-radius: 50%;
    background-color: #9DAD7F;
}

.phantom {
    position: absolute;
    width: 36vmin;
    height: 45vmin;
    top: 13vmin;
    border-radius: 50% 50% 0% 0%;
    background-color: #F7F7E8;
}

.phantomBottom {
    position: absolute;
    width: 36vmin;
    height: 10vmin;
    top: 57vmin;
    display: flex;
}

.phantomBottomSides {
    display: inline-block;
    width: 12vmin;
    height: 10vmin;
    border-bottom-left-radius: 6vmin;
    border-bottom-right-radius: 6vmin;
    background-color: #F7F7E8;
    box-shadow: 24vmin 0 #F7F7E8;
}

.phantomBottomCentre {
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: 12vmin;
    height: 10vmin;
    border-bottom-left-radius: 6vmin;
    border-bottom-right-radius: 6vmin;
    background-color: #F7F7E8;
}

.eyes {
    position: absolute;
    width: 6vmin;
    height: 8vmin;
    top: 14vmin;
    right: 20vmin;
    border-radius: 50%;
    background-color: #000;
    box-shadow: 10vmin 0 #000;
}

.cheeks {
    position: absolute;
    width: 5vmin;
    height: 2vmin;
    top: 21.5vmin;
    left: 9vmin;
    background: red;
    border-radius: 50%;
    opacity: 30%;
    box-shadow: 13vmin 0 red;
}

.mouth {
    position: absolute;
    width: 4vmin;
    height: 4vmin;
    top: 24vmin;
    left: 16vmin;
    border-radius: 50%;
    background: transparent;
    border-top: 1vmin solid #000;
    transform: rotate(180deg);
    animation: boo 5s infinite;
}

.whitePart {
    position: absolute;
    width: 2vmin;
    height: 3vmin;
    top: 2vmin;
    right: 1vmin;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 10vmin 0 #fff;
}

.phantomArms {
    margin: 0;
    padding: 0;
    position: absolute;
    width: 36vmin;
    height: 10vmin;
    top: 45vmin;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.phantomArms .phantomLeftArm {
    display: inline-block;
    width: 6vmin;
    height: 8vmin;
    border-radius: 0% 0% 50% 50%;
    background: transparent;
    border-left: 0.4vmin solid #000;
    border-right: 0.4vmin solid #000;
    border-bottom: 0.4vmin solid #000;
    transform: rotate(-45deg);
}

.phantomArms .phantomRightArm {
    display: inline-block;
    width: 6vmin;
    height: 8vmin;
    border-radius: 0% 0% 50% 50%;
    background: transparent;
    border-left: 0.4vmin solid #000;
    border-right: 0.4vmin solid #000;
    border-bottom: 0.4vmin solid #000;
    transform: rotate(45deg);
}

/* Mouth Animation */

@keyframes boo {
    0% {border-top: 1vmin solid #000;}
    50% {border-top: 6vmin solid #000;}
    100% {border-top: 1vmin solid #000;}
}